---
import Layout from "./Layout.astro";
---

<Layout>
  <div class="flex min-h-[calc(100vh-73px)] items-center justify-center py-8">
    <div class="w-full max-w-md px-4">
      <slot />
    </div>
  </div>
</Layout>
